body {
    background-color: whitesmoke;
    width: auto;
    height: auto;
    
    
}

.header__top {
    color: goldenrod;
    text-align: center;
    border-bottom: 1px solid gainsboro;
}

.contact-form__heading {
    color: goldenrod;
    text-align: center;
    font-size: 22px;
}

table {
    position: relative;
    bottom:  115px;
   background-color:whitesmoke;
    width: 900px;

}

.form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}


.form__group {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}


.form__button {
    text-align: center;
    margin-top: 30px;
}

.form__button-submit {
    position: relative;
    bottom:  115px;
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: goldenrod;
    color: #fff;
    cursor: pointer;
}





.form__error {
    position: relative;
    top: 2px;
    font-size: 93%;
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__error2 {
    font-size: 93%;
    position: relative;
    left: 100px;
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__error-tel {
    height: 20px;
    color: #ff0000;
    text-align: left;
    font-size: 75%;
}

.form__error-tel2 {
    position: relative;
    left: 15px;
    top: 2px;
    height: 20px;
    color: #ff0000;
    text-align: left;
    font-size: 75%;
}

.form__error-tel3 {
    position: relative;
    left: 35px;
    height: 20px;
    color: #ff0000;
    text-align: left;
    font-size: 75%;
}




.form__input--text2 {
    width: 380px;
}

.form__text1 {
    position: relative;
    right: 38px;
    background-color: aliceblue;
    width: 190px;
}

.form__text5 {
    position: relative;
    left: 40px;
    background-color: aliceblue;
    height: 16px;
    width: 190px;
}


input[type="radio"] {
    background-color: aliceblue;
    width: 60px;
}

input[type="email"] {
    background-color: aliceblue;
    width: 460px;
}


.form__tel1 {
    background-color: aliceblue;
    position: relative;
    left: 10px;
    margin: 0px;
    width: 90px;
}

.form__tel2 {
    background-color: aliceblue;
    position: relative;
        top: 1px;
    margin: 0px 20px;
    width: 90px;
}

.form__tel3 {
    background-color: aliceblue;
    position: relative;
    bottom: 1px;
    right: 40px;
    width: 90px;
}

.form__text2 {
    background-color: aliceblue;
    width: 460px;
}

.form__select {
    background-color: aliceblue;
    margin-top: 15px;
    width: 470px;
    height: 27px;
    border: 1px solid black;
}

.form__input--textarea textarea {
    padding: 10px;
    height: 130px;
    width: 450px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: aliceblue;
    appearance: none;
    border: 1px solid black;
}



#my-table {
    table-layout: fixed;
    width: 100%;
}

#my-table th {
    width: 170px;
}

.form__label--item::after {
    content: "※";
    color: #ff0000;
}

.label {
    display: flex;
}
